/airflow/logs/*
/airflow/models/newer_models/*
/airflow/models/tmp/*
.env
airflow/dags/__pycache__
*.html
*TEST*
/airflow/static/*
/airflow/projects/vehicle_counting/data/*
/notebooks/cnn_training.html